{% extends "base.html" %}
{% block title %}Projects{% endblock %}
{% block content %}
    {% for project in projects %}
        <div id="{{ project['project_id'] }}" class="rowholder {{ loop.cycle('even', 'odd') }}">
            <div class="shotholder">
                <a href="{{ project['main_link'] }}" target="_blank">
                    <img src='assets/projects/{{ project['project_id'] }}.jpg' alt='{{ project['project_id'] }} screenshot' />
                </a>
            </div>
            <div class="textholder">
                <h4><a name='{{ project['project_id'] }}' href='{{ project['main_link'] }}' target="_blank">{{ project['title'] }}</a></h4>
                {{ project['brief'] }}
                <p><span class='expand' id='expand-{{ loop.index0 }}'>&nbsp;</span></p>
                <div class='expandable' id='expandable-{{ loop.index0 }}'>
                    {{ project['expandable'] }}
                </div>
                <ul class='projlinkslist'>
                    {% for link in project['project_links'] %}
                        <li><a href='{{ link['href'] }}' target="_blank">{{ link['text'] }}</a></li>
                    {% endfor %}
                </ul>
                <p class="tags">Areas: {{ project['tags'] }}</p>
            </div>
        </div>
    {% endfor %}
{% endblock %}