$font_folder: "../assets/fonts/";


@font-face {
    font-family: map-get($custom_fonts, 'main');
    src: url("#{$font_folder}SourceSansPro-BoldIt.otf");
    font-weight: bold;
    font-style: italic, oblique;
}
@font-face {
    font-family: map-get($custom_fonts, 'main');
    src: url("#{$font_folder}SourceSansPro-Bold.otf");
    font-weight: bold;
}
@font-face {
    font-family: map-get($custom_fonts, 'main');
    src: url("#{$font_folder}SourceSansPro-It.otf");
    font-style: italic, oblique;
}
@font-face {
    font-family: map-get($custom_fonts, 'main');
    src: url("#{$font_folder}SourceSansPro-Regular.otf");
}

@font-face {
    font-family: map-get($custom_fonts, 'mono');
    src: url("#{$font_folder}saxmono.ttf");
}
