ul.linkslist {
    margin-top: 4px;
    margin-bottom: 16px;
    li {
        padding-top: 1px;
        padding-bottom: 1px;
    }
}
ul.projlinkslist {
    margin-top: 16px;
    padding-top: 8px;
    margin-bottom: 4px;
    list-style-image: url('../assets/newtab.png');
    border-top: 1px dashed $faint_color;
    padding-left: 26px;
    font-style: italic;
    li {
        padding-top: 1px;
        padding-bottom: 1px;
    }
}
p.tags {
    font-size: 12px;
    font-family: "saxmono", monospace;
    font-style: italic;
}
div.rowholder {
    border-bottom: 1px solid $faint_color;
    overflow: auto;
    &.even {
        background-color: rgba(239, 239, 239, 0.85);
    }
    &.odd {
        background-color: rgba(255, 255, 255, 0.85);
    }
}

$tile_padding: 10px;
div.shotholder {
    float: left;
    padding: $tile_padding;
    img {
        width: 250px;
        border: 1px #AAAAAA solid;
    }
}
div.textholder {
    overflow: hidden;
    padding: $tile_padding;
}