@font-face {
    font-family: "SourceSansPro";
    src: url("../assets/fonts/SourceSansPro-BoldIt.otf");
    font-weight: bold;
    font-style: italic, oblique;
}
@font-face {
    font-family: "SourceSansPro";
    src: url("../assets/fonts/SourceSansPro-Bold.otf");
    font-weight: bold;
}
@font-face {
    font-family: "SourceSansPro";
    src: url("../assets/fonts/SourceSansPro-It.otf");
    font-style: italic, oblique;
}
@font-face {
    font-family: "SourceSansPro";
    src: url("../assets/fonts/SourceSansPro-Regular.otf");
}
@font-face {
    font-family: "saxmono";
    src: url("../assets/fonts/saxmono.ttf");
}
h1, h2, h3, h4, h5, h6, p {
    font-family: "SourceSansPro", sans-serif;
    color: rgba(0, 0, 0, 1);
    margin: 0px;
}
p {
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
}
html, body, #wrapper {
    height:100%;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #ffffff;
}
div {
    /*border: 2px dashed #000077;*/
}
a {
    text-decoration: none;
}
a:link, a:visited {
    color: #2200CC;
}
a:hover, a:active {
    color: #0088FF;
}
p.tags {
    font-size: 12px;
    font-family: "saxmono", monospace;
    font-style: italic;
}
div.projectlink, div.projecttitle {
    border-bottom: 1px solid #AAAAAA;
    overflow: auto;
}
div.projectlink {
    background-color: rgba(255, 255, 255, 0.7);
}
img.projectscreenshot {
    width: 200px;
    border: 1px solid #AAAAAA;
}
div.shotholder, div.textholder {
    padding: 10px;
}
div.shotholder {
    width: 202px;
    float: left;
}
div.textholder {
    overflow: hidden;
}
#topbar-wrapper {
}
#logo-holder {
    min-width: 0px; /*necessary for img centering */
    padding: 10px;
}
#top-logo {
    display: block;
    position: relative;
    left: -30px;
    margin-left: auto;
    margin-right: auto;
}
#content-wrapper {
    min-width: 0px; /*necessary for img centering */
    position: relative;
    top: -70px;
    padding: 10px;
}
#links-holder {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}
#github-button {
    position: absolute;
    right: 15px;
    opacity: 0.3;
    top: 15px;
}
#github-button:hover {
    opacity: 0.8;
}
img.newtab {
    margin-right: 4px;
}
